<nav class="navbar"> <!-- Style this navbar with Avatar theme -->
    <a href="{{ url_for('index') }}" class="navbar-brand">Avatar PM</a>
    <ul>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('list_projects') }}">Projects</a></li>
            {% if current_user.is_admin %}
                <li class="dropdown"> <!-- Example dropdown for Admin -->
                    <a href="#">Admin Menu</a>
                    <ul class="dropdown-content">
                       <li><a href="{{ url_for('admin_console') }}">Admin Console</a></li>
                       <li><a href="{{ url_for('admin_list_users') }}">Manage Users</a></li>
                       <li><a href="{{ url_for('create_project') }}">New Project</a></li>
                    </ul>
                </li>
            {% endif %}
            <li><span>Hi, {{ current_user.username }}!</span></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>