<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link THEME CSS Dynamically -->
    <link rel="stylesheet" href="{{ url_for('static', filename=current_theme_css) }}">
    <!-- Add other CSS frameworks or libraries if needed (e.g., Bootstrap) -->
    <title>{{ title }} - Pandora PM</title>
</head>
<body> <!-- Consider adding theme class: <body class="theme-{{ current_user.theme if current_user.is_authenticated else DEFAULT_THEME }}"> -->
    <header>
       {% include 'partials/_navbar.html' %}
    </header>

    <main class="container">
        {% include 'partials/_flashes.html' %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© {{ now.year }} Pandora PM</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>